<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtnP817Uih4I2V4DhvrmvwRgeskb0OaxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>828829269251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ondot.dalimi2</string>
	<key>PROJECT_ID</key>
	<string>dalimi2-a9af6</string>
	<key>STORAGE_BUCKET</key>
	<string>dalimi2-a9af6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828829269251:ios:5d0355e3eb7c52ecc4fd36</string>
</dict>
</plist>